@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    position: relative;
    padding-bottom: 100px;
}

ul {
    height: 25px;
    display: flex;
    width: 95%;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
    top: 20px;
}


.logo {
      height: 25px;
      

}

video {
    width: 100vw;
    min-height: 80vh; 
    margin-top: 10px;
}

.capa {
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: 50%;
    z-index: 3;
}

.titulo {
    color: white;
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: bold;
}

.descricao {
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: justify;
}

.link-assistir {
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.link-info {
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    
}

.img-carrossel{
    height: 150px;

}

#carouselExampleControls{
    background-color: transparent;
    position: absolute;
    bottom: -5%;
    left: 100px;

}

.titulo-carrossel{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.botao-som{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    top: 60px;
    right: 15px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-conteudo{
    background-color: #181818;
    margin: 5% auto;
    padding: 20px;
    width: 60%;
    color: white;

}

.botao-mudo{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    top: 100px;
    right: 15px;
}